/* navbar.css */
.navbar-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
}

.navbar-button:hover {
    -fx-background-color: #5a55e6; /* Slightly lighter shade of the navbar color */
}

.navbar-button:pressed {
    -fx-background-color: #3e3abf; /* Slightly darker shade of the navbar color */
}
.root {
    -fx-background-image: url("/images/background_event.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}


