.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: rgba(255,255,255,0.05);
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .table-cell {
    -fx-text-fill: white;
}

.table-row-cell {
    -fx-background-color: transparent;
}

.table-row-cell:selected {
    -fx-background-color: rgba(72, 67, 228, 0.3);
}

.table-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;
    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}